.ko-multiselect-container ul
{
	margin: 0;
	padding: 0;
}

.ko-multiselect-inner-container
{
	padding: 2px;
}

.ko-multiselect-controls
{
	margin-bottom: 5px;
}

.ko-multiselect-selected-options li {
	list-style: none;
	padding: 5px;
	padding-left: 15px;
	padding-bottom: 1px;
	text-align: left;
}

.ko-multiselect-options li
{
	list-style: none;
	padding: 3px;
	padding-bottom: 1px;
	text-align: left;
}

	.ko-multiselect-options li input[type="checkbox"]
	{
		margin-top: -2px;
	}

	.ko-multiselect-options li:hover
	{
		cursor: pointer;
		user-select: none;
		color: #ffffff;
		background-color: #006dcc;
		*background-color: #0044cc;
		background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
		background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
		background-image: -o-linear-gradient(top, #0088cc, #0044cc);
		background-image: linear-gradient(to bottom, #0088cc, #0044cc);
		background-repeat: repeat-x;
		border-color: #0044cc #0044cc #002a80;
		border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
		filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	}
